{% extends 'base/base.html' %}
{% block header %}
<header>
    <div class="header-content">
        <a href="{% url 'post-list' %}">Thoughts</a>
        <form action="{% url 'post-search' %}" method="GET">
            <input type="search" name="search" value="{{ search }}">
            <input type="submit" value="Search" class="btn card-button">
        </form>
    </div>
</header>
{% endblock header %}

{% block main %}
<main>
    {% block postblock %}{% endblock postblock %}
</main>
{% endblock main %}

{% block footer %}
<footer>
    {% now "Y" as current_year %}
    Copyright {{ current_year }}
</footer>
{% endblock footer %}